* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  background-color: #00b627;
  font-family: 'Lucida Sans', sans-serif;
}

.logo img {
  height: 50px;
  width: 100px;
}

.menu-list {
  list-style: none;
  display: flex;
  gap: 60px;
}

.menu-list li a {
  text-decoration: none;
  color: #000000;
  font-size: 15px;
  font-weight: 500;
}

