* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  background-color: #00b627; 
}
header img {
  height: 55px ;
  width: auto;
}
nav .menu {
  list-style: none;
  display: flex;
  gap: 110px;
  padding: 10px 30px;
}
nav .menu li a {
  text-decoration: over;
  color: #000000;
  font-size: 15px;
  font-weight: 500;
}

